DATABASE_URL=

PORT=5000

# Brevo Configuration (Required for OTP)
# Get your API key from Brevo: SMTP & API -> API Keys
BREVO_API_KEY=
# Your verified sender email address
BREVO_SENDER=jmi.lab.inventory@gmail.com
